@import "../../vars.css";
.container{
background-color: #132a53;
height: 100vh;

}
.title1{
  color: white;
  font-family:  roboto;
  font-size:40px;
  padding-top:15vh;
  margin-left:30vh;
  font-weight: 700;
  
}
.card{
  flex: 1 1 auto;
  display: flex;
  flex-direction:column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  height:20vh;
  max-width: 345px;
  margin-left:80vh;
  margin-top:20px;

}
.card h1{
  margin-bottom:10px;
  color: white;
}
.card p{
  margin-bottom:10px;
  color: white;
}
.card h5{
  margin-bottom:10px;
  color: white;
}

